.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  padding: 20px;
  z-index: 200;
  color: white;
}

.iconClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 10;
}

.title {
  font-size: 2em;
  color: #3a89c5;
  text-align: center;
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input[type="text"],
.formGroup input[type="date"],
.formGroup input[type="file"] {
  border-radius: 8px;
  padding: 8px;
  border: none;
  font-size: 1em;
}

.statusLabel {
  font-weight: bold;
  color: #3a89c5;
  font-size: 1.2em;
  padding: 5px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.botaoEditar, .botaoExcluir {
  flex: 1;
  padding: 10px 0;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.botaoEditar {
  background-color: #3a89c5;
}

.botaoEditar:hover {
  background-color: #2a6e99;
}

.botaoExcluir {
  background-color: #c53a3a;
}

.botaoExcluir:hover {
  background-color: #992a2a;
}
