  .wrapper {
    position: fixed;             
    top: 50%;                   
    left: 50%;                 
    transform: translate(-50%, -50%); 
    width: 400px;
     max-width: 90vw;
     width: auto;         
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 20px;
    z-index: 100;
  }

  .iconClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .title {
    font-size: 2em;
    color: #3a89c5;
    text-align: center;
    margin-bottom: 10px;
  }

  .tableContainer {
    overflow-y: auto;
    max-height: 300px;
    overflow-x: hidden;
    padding-right: 12px;
    box-sizing: content-box;
  }

  .tabela {
    width: calc(100% - 12px);
    border-collapse: collapse;
    color: white;
    margin-top: 20px;
  }

  .tabela th,
  .tabela td {
    padding: 12px 24px;
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 0.9em;
  }

  .tabela tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }