.wrapper {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  color: #3a89c5;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.formGroup input {
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.formGroup input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.formGroup input:focus {
  border-color: #00f048;
}

.nascimentoGroup {
  width: 50%;
  min-width: 180px;
  margin: 0 auto;
 
}



.nascimentoGroup input {
  padding: 8px;
  font-size: 0.9rem;
}

.botaoLogin {
  padding: 12px 0;
  font-size: 1.1rem;
  background-color: #3a89c5;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.botaoLogin:hover {
  background-color: #2a6e99;
}

.textoCadastro {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  text-align: center;
  color: white;
  user-select: none;
}

.linkCriarConta {
  color: #00f048;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  user-select: text;
}

.linkCriarConta:hover {
  text-decoration: underline;
}

.iconVoltar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  color: white;
  background: transparent;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: color 0.3s ease;
}

.iconVoltar:hover {
  color: #00f048;
}

.formGroup select,
.formGroup input[readonly] {
    padding: 10px;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  
  outline: none;
  transition: border-color 0.3s ease;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  
}





.formGroup select,
.formGroup input[readonly] {
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  
  outline: none;
  transition: border-color 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.formGroup select option {
  background-color: black;
  color: white;
}
